<div id="margindiv">
</div>

<app-carousel [title]="'Recomendado por IA'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
              [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<mat-tab-group>
  <mat-tab label="Contenido Nuevo">
    <app-carousel [title]="'Contenido Nuevo'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
  <mat-tab label="Popular">
    <app-carousel [title]="'Popular'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
  <mat-tab label="Mejor Calificado">
    <app-carousel [title]="'Mejor Calificado'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
</mat-tab-group>

<app-carousel [title]="'Popular Movies'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
    [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-slider [data]="movies_data"></app-slider>

<mat-tab-group>
  <mat-tab label="Genero1">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <app-carousel [title]="'Filtrar por Género'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                    [items]="filteredMovies" [canNavigateLeft]="true" [canNavigateRight]="true">
      </app-carousel>

      <!-- Filtro por Género -->
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por Género</mat-label>
        <mat-select (selectionChange)="onGenreSelected($event.value)">
          <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab label="Genero">
    <app-carousel [title]="'Filtrar por Genero'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
  <mat-tab label="Tipo">
    <app-carousel [title]="'Filtrar por Tipo'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
</mat-tab-group>

<app-carousel [title]="'Popular TV Shows'" [isExplore]="false" [exploreLink]="'/tv/category/airing_today'"
    [items]="tvSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>
