<div id="margindiv">
</div>

<app-carousel [title]="'Recomendado por IA'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
              [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<mat-tab-group>
  <mat-tab label="Popular">
    <app-carousel [title]="'Popular'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
  <mat-tab label="Contenido Nuevo">
    <app-carousel [title]="'Nuevo'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
  <mat-tab label="Mejor Calificado">
    <app-carousel [title]="'Mejor Calificado'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
</mat-tab-group>

<app-carousel [title]="'Popular Movies'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
    [items]="moviesSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-slider [data]="movies_data"></app-slider>

<mat-tab-group>
  <mat-tab label="Elije por Genero">
    <div class="filterDiv" style="margin-inline: 5rem">
      <!-- Filtro por Género -->
      <mat-form-field appearance="fill">
        <mat-label>Elije Género</mat-label>
        <mat-select (selectionChange)="onGenreSelected($event.value)">
          <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      <app-carousel [title]="'Género'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                    [items]="filteredGenre" [canNavigateLeft]="true" [canNavigateRight]="true">
      </app-carousel>
  </mat-tab>

  <mat-tab label="Elije por Tipo">
    <div class="filterDiv" style="margin-inline: 5rem">
      <!-- Filtro por Género -->
      <mat-form-field appearance="fill">
        <mat-label>Elije Tipo</mat-label>
        <mat-select (selectionChange)="onTipoSelected($event.value)">
          <mat-option *ngFor="let tip of tipo" [value]="tip">{{ tip }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-carousel [title]="'Tipo'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
                  [items]="filteredTipo" [canNavigateLeft]="true" [canNavigateRight]="true">
    </app-carousel>
  </mat-tab>
</mat-tab-group>

<app-carousel [title]="'Popular TV Shows'" [isExplore]="false" [exploreLink]="'/tv/category/airing_today'"
    [items]="tvSlider" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>
