<div id="margindivtv">
</div>

<app-slider [data]="tv_data"></app-slider>

<app-carousel [title]="'Series Populares'" [isExplore]="false" [exploreLink]="'/tv/category/popular'"
    [items]="tvCategories['popularTv']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>


<app-carousel [title]="'Mejor Calificadas'" [isExplore]="false" [exploreLink]="'/tv/category/top_rated'"
    [items]="tvCategories['topRatedTv']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>


<app-carousel [title]="'Proximas a Estrenar'" [isExplore]="false" [exploreLink]="'/tv/category/on_the_air'"
    [items]="tvCategories['onTheAirTv']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Ahora en Cines'" [isExplore]="false" [exploreLink]="'/tv/category/airing_today'"
    [items]="tvCategories['airingTodayTv']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>
