<div id="margindivmovies">
</div>
<app-slider [data]="movies_data"></app-slider>

<app-carousel [title]="'Peliculas Populares'" [isExplore]="false" [exploreLink]="'/movie/category/popular'"
    [items]="movieCategories['popularMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Mejor Calificadas'" [isExplore]="false" [exploreLink]="'/movie/category/top_rated'"
    [items]="movieCategories['topRatedMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Proximas a Estrenar'" [isExplore]="false" [exploreLink]="'/movie/category/upcoming'"
    [items]="movieCategories['upcomingMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>

<app-carousel [title]="'Ahora en Cines'" [isExplore]="false" [exploreLink]="'/movie/category/now_playing'"
    [items]="movieCategories['nowPlayingMovies']" [canNavigateLeft]="true" [canNavigateRight]="true">
</app-carousel>
