@import '../src/assets/css/global.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span{
  font-size: 18px; /* Cambia el tamaño de fuente */
  font-weight: 500;
}

.mat-mdc-text-field-wrapper{
  background-color: white;
}

.mdc-text-field
{
  background-color: white;
}

::ng-deep .toast-top-right .toast-container .toast-success {
  font-size: large; /* You can also target success messages specifically */
}
#toast-container{
  font-size: large;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit !important;
  border: 2px solid white;
}
/*Manipulate background color on hover and focus*/
.mat-mdc-form-field-focus-overlay {
  background-color: inherit !important;
  border: 2px solid white;
}
